/node_modules
/public/build
/public/hot
/public/storage
/vendor

/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/*.key
/storage/pail

.env
.env.backup
.env.production

.phpunit.result.cache
/.phpunit.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
_ide_helper.php
Homestead.json
Homestead.yaml

.DS_Store
Thumbs.db
*.log